datasets >= 1.18.0
torch >= 1.5
torchaudio
librosa
jiwer
evaluate

pip install -U requests[security]
pip install transformers==4.32.0

apt install git-lfs
git clone https://github.com/huggingface/transformers.git


conda create -n whisper python=3.8
conda activate whisper